body {
    
    /* background-color: #002200; 
    color:white;*/
    background: linear-gradient(to right, rgb(23,100,23) 1%,black 10%) repeat;
    color: white;
    min-height: 100vh;
}
ul{ 
    padding: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 1em auto;
    background: black;
  }



  li {
    display: inline-block;
    padding: .5em;
  }

li a:hover,ul a:hover,button:hover{
  background-color: #004400;
}

  .content{
    margin-left: 150px;
    margin-right: 50px;
    margin-top: 10px;
}

.hidden {
    display:none;
}

.para {
  margin-bottom: 25px;
}
