---
import { Astronav,MenuItems,MenuIcon,Dropdown,DropdownItems,DropdownSubmenu} from "astro-navbar";
---
<li><Dropdown class="text-center">
    <button class="rounded-lg bg-green-900 p-1">
      <span class="text-center">Galleries</span>
   </button>
    <DropdownItems class="relative w-60">
      <ul>
        <li><a href="/page4">RAF Museum</a></li><br/>
        <li><a href="/page5">East Lancs Railway</a></li><br/>
        <li><a href="/page6">Darwen Tower Walk</a></li>
      </ul>
    </DropdownItems>
</Dropdown> </li>

<li><Dropdown class="text-center">
  <button class="rounded-lg bg-green-900 p-1">
    <span class="text-center">Fanfic</span>
 </button>
  <DropdownItems class="relative w-72">
    <ul>
      <li><a href="/page4">Xena and the Cyclops</a></li>
      <li><a href="/page5">Family Trouble</a></li><br/>
      <li><a href="/page6">Xena and the Dragon</a></li>
      <li><a href="/page7">How I met Xena</a></li>
    </ul>
  </DropdownItems>
</Dropdown>
</li>
