---
import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
  DropdownSubmenu,
} from "astro-navbar";
---
<Dropdown class="text-center">
    <button class="rounded-xl bg-green-900 p-1">
      <span class="text-center">Fanfic</span>
   </button>
    <DropdownItems class="absolute w-72">
      <ul>
        <li><a href="/page4">Xena and the Cyclops</a></li>
        <li><a href="/page5">Family Trouble</a></li><br/>
        <li><a href="/page6">Xena and the Dragon</a></li>
        <li><a href="/page7">How I met Xena</a></li>
      </ul>
    </DropdownItems>
</Dropdown>
